@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

* a {
  text-decoration: none;
  color: inherit;
}

* ul li {
  list-style-type: none;
}

/*
    ===========================
    ******** Global ********
    ===========================
*/
body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

.btn {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  opacity: 0;
  z-index: -5;
}

.overlay.active {
  opacity: 1;
  z-index: 11;
}

/*
    ===========================
    ******** Layout ********
    ===========================
*/
#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}

.logo a {
  text-decoration: none;
}

.logo img {
  height: 3rem;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.d-navbar {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.d-navbar li {
  margin-left: 1rem;
}

.d-navbar li a {
  color: hsl(0, 0%, 3%);
}

.a-navbar {
  text-decoration: none;
  height: 2em;
  padding: 0.5em 1em;
}

.navbar ul {
  gap: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* End Header */

section {
  overflow-y: auto;
  position: relative;
  padding: 0 1rem;
}

section .page-options form {
  float: right;
  text-align: right;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  box-shadow: inset 0rem 0rem 0.5rem 0.25rem hsl(270deg 16% 22%);
}

section .page-options form input {
  outline: none;
  border: none;
  border-radius: 0.25rem;
}

.options-btn {
  padding: 0.25em;
  background-color: hsl(0, 0%, 90%);
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(270deg 16% 22%);
}

.options-btn:hover {
  background-color: #fff;
}

.items-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.5rem;
  margin: 2rem auto;
}

.item-card {
  min-width: 15rem;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(26, 32%, 29%);
}

.item-card .card-top {
  width: 100%;
  height: 65%;
  position: relative;
  background-color: hsl(0, 0%, 75%);
}

.item-card .card-top .thumbnail-placeholder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.item-card .card-top img {
  width: 100%;
}

.item-card .card-top,
.item-card .card-top .thumbnail-placeholder,
.item-card .card-top img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.item-card .card-top p {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(39, 14%, 80%);
  background-color: hsla(0, 0%, 13%, 0.7);
}

.item-card .likes {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.comment-btn {
  font-size: 2rem;
  margin: 0 auto 0.5rem auto;
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: hsl(0, 0%, 85%);
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(270deg 16% 22%);
}

.comment-btn:hover {
  background-color: #fff;
}

footer {
  width: 100%;
  justify-content: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  margin-top: 2rem;
  border-style: solid;
}

/*
    ===========================
    ******** PopUp ********
    ===========================
*/
.modal {
  position: fixed;
  top: 2.75rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  border-radius: 1rem;
  z-index: 15;
  background-color: #fff;
  height: unset;
  overflow-y: auto;
  transform: scale(0);
  transition: 600ms ease-in-out;
}

.modal.active {
  transform: scale(1);
  transition: 600ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.close_modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem;
}

.modal.active .image-placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal.active .image-placeholder img {
  height: 55vh;
}

.modal.active .item-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0.75rem 0;
}

.modal.active h2 {
  font-weight: 600;
  text-align: center;
}

.modal.active .modal-inner {
  padding: 1rem;
}

.modal.active .modal-inner .all-comments {
  margin: 1rem 0;
}

.modal.active .comment-li,
.modal.active .comment-meta {
  display: flex;
  gap: 0.25rem;
}

.modal.active .modal-inner .comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.comment-form input,
.comment-form textarea,
.comment-form input::placeholder,
.comment-form textarea::placeholder,
.comment-form .btn-alt {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.comment-form .btn-alt:hover {
  background-color: #fff;
}

/*
    ============================================
    ******* MEDIA QUERY *******
    ============================================
*/
@media only screen and (min-width: 48rem) {
  .items-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 64rem) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
